/* custom.css */

.bg-zoo-primary {
    background-color: #ea640e;
}

.bg-zoo-cream {
    background-color: #f6e5c0;
}

.bg-zoo-brown {
    background-color: #a26e5a;
}

.bg-zoo-soft {
    background-color: #f09d65;
}

.bg-zoo-darkbrown {
    background-color: #6e3b2a;
}

.bg-zoo-lightpink {
    background-color: #f8e0cb;
}

.bg-zoo-lightbrown {
    background-color: #d38c5f;
}

.bg-zoo-background {
    background-color: #f6f3e9;
}

.text-zoo-primary {
    color: #ea640e;
}

.text-zoo-cream {
    color: #f6e5c0 !important;
}

.text-zoo-brown {
    color: #a26e5a;
}

.text-zoo-soft {
    color: #f09d65;
}

.text-zoo-darkbrown {
    color: #6e3b2a !important;
}

.text-zoo-lightpink {
    color: #f8e0cb;
}

.text-zoo-lightbrown {
    color: #d38c5f;
}

.text-zoo-background {
    color: #f6f3e9;
}

.border-zoo-primary {
    border-color: #ea640e;
}

.hover-white:hover {
    color: #ffffff;
}

.title-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.ring-zoo-primary {
    --tw-ring-color: #ea640e;
}

.focus\:ring-zoo-primary:focus {
    --tw-ring-color: #ea640e;
}

.tab-btn {
    width: 100%;
    text-align: left;
    padding: 0.5rem 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
    background: none;
    border: none;
    color: #000;
    border-radius: 0.375rem;
    cursor: pointer;
}

    .tab-btn:hover {
        background-color: #f09d65;
        color: #fff;
    }


    .tab-btn.active {
        background-color: #ea640e;
        color: #fff;
    }
