@{
    ViewData["Title"] = "Home Page";
}


@* <div class="relative w-full h-[350px]">
  
    <img src="/images/logo.png" alt="Zoo Logo"
         class="absolute -bottom-8 left-8 w-40 h-auto z-10" />
    
    <img src="/images/giraffe.jpg" alt="Zoo Banner"
         class="w-full h-full object-contain object-top" />
</div> *@
<div class="relative w-full h-[350px] bg-cover bg-no-repeat -mt-2"
     style="background-image: url('/images/lion-banner.jpg'); ">

    <img src="/images/logo.png" alt="Zoo Logo"
         class="absolute -bottom-8 left-8 w-40 h-auto z-10 " />

</div>

<div class="bg-zoo-cream text-center py-4 text-zoo-brown font-semibold tracking-wide text-lg shadow">
    Zoolirante – A World of Wildlife, A Lifetime of Wonder
</div>

<!-- Featured Animals -->
<section class="mt-12 px-16">
    <div class="text-center ">
        <img src="/images/paw.png" alt="paw icon" class="mx-auto w-16 mb-2" />
        <h2 class="text-3xl font-semibold">Meet Our Stars</h2>
    </div>

    <!-- Giraffe Grace -->
    <div class="mt-12 flex flex-col md:flex-row items-start gap-8 px-4 mx-auto max-w-6xl">
        <img src="/images/giraffe-homepage.jpg" alt="Giraffe Grace"
             class="w-full md:w-2/5 rounded-lg shadow-md" />
        <div class="md:w-3/5 text-justify">
            <h3 class="text-lg font-semibold mb-4">
                Elegant and curious – Grace the giraffe charms everyone
            </h3>
            <p class="mb-2">
                Grace towers above her surroundings with elegance. Visitors love watching her stretch
                for the highest leaves, showcasing her incredible height and balance.
            </p>
            <p>
                With her long lashes and gentle nature, she has quickly become one of the zoo’s most
                photographed residents. Grace is living proof that beauty and curiosity go hand in hand.
            </p>
        </div>
    </div>

    <!-- Lion Leo -->
    <div class="mt-12 flex flex-col md:flex-row items-start gap-8 px-4 mx-auto max-w-6xl">
        <img src="/images/lion-homepage.jpg" alt="Lion Leo"
             class="w-full md:w-2/5 rounded-lg shadow-md" />
        <div class="md:w-3/5 text-justify">
            <h3 class="text-lg font-semibold mb-4">
                Big-hearted Leo – A gentle king at rest
            </h3>
            <p class="mb-2">
                Leo, our magnificent African lion, embodies both power and grace. His deep roar can be heard
                echoing across the zoo at sunrise, reminding everyone why he’s called the king of the savannah.
            </p>
            <p>
                Despite his regal presence, Leo enjoys quiet afternoons basking in the sun and often shows
                a surprisingly playful side with his keepers. He is a symbol of strength, leadership,
                and the wild spirit of the animal kingdom.
            </p>
        </div>
    </div>
</section>






